# Example of the enviromant variables you must have to run this project
# Copy this file to your .env and fill with your real credentials:

DATABASE_URL=postgresql://user:password@host.neon.tech/neondb?sslmode=require&channel_binding=require
URLHAUS_API_KEY=paste_your_abuse.ch_auth_key